* {
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h3.logo {
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

ul > li {
  list-style: none;
}

ul > li > a {
  color: #666;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}
